.dashboard-container {
    font-family: 'Roboto', sans-serif;
    background-color: #282c34;
    color: #abb2bf;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    min-height: 100vh;
}

.profile-section, .match-section, .previous-matches {
    background-color: #383e47;
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    margin-bottom: 20px;
}

.feedback-button {
    background-color: #EBB058; /* Example button color - adjust as needed */
    color: white;
    padding: 10px 20px;
    margin-top: 20px; /* Adjust spacing as needed */
    border: none;
    border-radius: 4px;
    text-decoration: none; /* Removes underline from link */
    cursor: pointer;
    font-size: 16px;
  }
  
  .feedback-button:hover {
    background-color: #45a049; /* Darker shade for hover effect */
  }

.profile-pic {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 20px;
}

h2, h3 {
    color: #61afef;
    margin-bottom: 10px;
}

p, li {
    margin-bottom: 10px;
}
