/* global.css */
.global-link {
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    color: #EBB058; /* or any other color you prefer */
    text-decoration: none;
  }

/* global.css */
.global-button {
    background-color: #EBB058; 
    font-size: 1.5em;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: fit-content; /* adjust the width to fit the content */
    text-align: center;
    text-decoration: none;
  }
  