/* src/HomePage.css */

/* Set the background color for the entire page */
html, body {
    margin: 0;
    padding: 0;
    background-color: #282c34; /* Dark background color */
  }
  
  @import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700&family=Roboto:wght@300;700&display=swap');  
  .container {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    padding: 40px;
    background-color: #282c34; /* Dark background color */
    color: #abb2bf; /* Light text color for One Dark theme */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* takes at least the full height of the viewport */
    max-width: 1000px;
    margin: 0 auto;
  }
  
  .container .heading {
    font-family: 'Orbitron', sans-serif; /* Use 'Orbitron' instead of 'Press Start 2P' */
    font-size: 4em; /* Adjust the font size to your preference */
    margin-bottom: 20px;
    color: #61afef; /* Light blue color for heading in One Dark theme */
  }
  
  .container .paragraph {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 300;
    margin-bottom: 20px;
    font-size: 1.4em;
  }

  .container .last-paragraph {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 300;
    font-size: 1.4em;
    margin-bottom: 50px;
  }
  
  /* Media query for screens smaller than 600px */
  @media (max-width: 600px) {
    .container {
      padding: 10px; /* smaller padding for smaller screens */
    }
  
    .button {
      font-size: 12px; /* smaller font size for buttons on smaller screens */
      padding: 8px 16px; /* smaller padding for buttons on smaller screens */
    }
  }
  